<nav class ="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="margin-right: 6rem;">開心書店</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li {% if request.path == '/'%} class="nav-item active {% else %} class="nav-item {% endif %}">
          <a class="nav-link" href="/">首頁</a>
        </li> 
        <li {% if 'books/categories' in request.path %} class="nav-item active {% else %} class="nav-item {% endif %}">
          <a class="nav-link" href="{% url 'books:categories' %}">全部書籍</a>
        </li>
        <li {% if 'books/hots' in request.path %} class="nav-item active {% else %} class="nav-item {% endif %}">
          <a class="nav-link" href="{% url 'books:hots' %}">推薦書籍</a>
        </li>
        <li {% if 'books/search' in request.path %} class="nav-item active {% else %} class="nav-item {% endif %}">
          <a class="nav-link" href="{% url 'books:search' %}">搜尋書籍</a>
        </li>
        <li {% if 'about' in request.path %} class="nav-item active {% else %} class="nav-item {% endif %}">
          <a class="nav-link" href="/about">關於我們</a>
        </li>
        <li {% if 'contact' in request.path %} class="nav-item active {% else %} class="nav-item {% endif %}">
          <a class="nav-link" href="/contact">聯繫我們</a>
        </li>
        <li {% if 'privacy' in request.path %} class="nav-item active {% else %} class="nav-item {% endif %}">
          <a class="nav-link" href="/privacy">隱私政策</a>
        </li>
      </ul>
      </div>
    </div>
</nav>

