{% extends "base.html" %}
{% block title %} | Register {% endblock title %} 
<!-- <!DOCTYPE html> -->
<!-- <html lang="zh-Hant"> -->
{% block content %}

<section id="register" class="bg-light py-4">
  <div class="container bg-light">
        <div class="card shadow-sm card-body">
            {% comment %} <div class="card-body"> {% endcomment %}
                <h2 class="mb-4 bg-primary text-center text-white">註冊帳戶</h2>
                <form action={% url "accounts:register" %} method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="first_name">姓氏</label>
                            <input id="first_name" type="text" name="first_name" class="form-control" required />
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="last_name">名字</label>
                            <input id="last_name" type="text" name="last_name" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="username">用戶名稱</label>
                            <input id="username" type="text" name="username" class="form-control" required />
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="email">電郵</label>
                            <input id="email" type="email" name="email" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="phone">電話  (選填）</label>
                            <input id="phone" type="phone" name="phone" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="address">地址 (選填）</label>
                            <input id="address" type="text" name="address" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="catagory_id">興趣書類 (選填）</label>
                            <select class="form-control" id="catagory_id" name="favour_category">
                                <option></option>
                                <option>文學</option>
                                <option>社會科學</option>
                                <option>商業財經</option>
                                <option>飲食文化</option>
                                <option>心理勵志</option>
                                <option>其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="password">密碼</label>
                            <input id="password" type="password" name="password" class="form-control" required />
                        </div>
                        <div class="col-md-6 mb-4">
                            <label for="password2">確認密碼</label>
                            <input id="password2" placholder="確認密碼" type="password" name="password2" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-2"></div>
                        <button type="submit" class="btn btn-warning text-white fw-bold" name="register">    登記     </button>

                        <div class="col-md-4 mt-2"></div>
                        <button type="reset" class="btn btn-danger text-white fw-bold" name="clear">    清空資料     </button>
                    </div>
                </form>
            {% comment %} </div> {% endcomment %}
        </div>
  </div>
</section>
{% endblock content %}


