{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-4">
  <h1 class="mb-4">書籍分類</h1>
  <div class="row">
    <!-- 左邊分類欄 -->
    <div class="col-md-3">
      <div class="list-group">
        {% for category, subcategories in categories.items %}
        <a class="list-group-item list-group-item-action bg-light text-dark" data-toggle="collapse"
          href="#collapse-{{ forloop.counter }}" role="button" aria-expanded="false"
          aria-controls="collapse-{{ forloop.counter }}">{{ category }}</a>
        <div class="collapse" id="collapse-{{ forloop.counter }}">
          {% for sub in subcategories %}
          <a href="?category={{ category }}&subcategory={{ sub }}"
            class="list-group-item list-group-item-action bg-dark text-light">{{ sub }}</a>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- 右邊內容欄 -->
    <div class="col-md-9">
      <div class="row">
        {% for book in books %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'books:book' book.id %}">{{ book.title }}</a></h5>
              <a href="{% url 'books:book' book.id %}">
                <img src="{{ book.photo_large.url }}" class="card-img-top" alt="{{ book.title }}">
              </a>
              <p class="card-text">作者：{{ book.author }}<br>ISBN：{{ book.isbn }}</p>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            沒有找到相關書籍。
          </div>
        </div>
        {% endfor %}
      </div>


    </div>
  </div>
  {% endblock %}