{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>郵寄資訊</title>
</head>

<section id="register" class="bg-light py-4">
  <div class="container bg-light">
        <div class="card shadow-sm card-body">
                <h2 class="mb-4 bg-primary text-center text-white">郵寄資訊</h2>
                <div class="row">
                    <div class="col-md-8 mb-2">
                    </div>              
                    <div class="col-md-2 mb-2">
                        <p class="text-right">訂單日期 : </p>
                    </div>
                    <div class="col-md-2 mb-2">
                        <p class="text-left"> {{Datetime.now}}</p>
                    </div>
                </div>   
                <form action={% url "orders:orderconfirm" %} method="POST">
                   {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="first_name">姓氏</label>
                            <input id="first_name" type="text" name="first_name" class="form-control" value="{{shopcart.userId.first_name}}" disabled />
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="last_name">名字</label>
                            <input id="last_name" type="text" name="last_name" class="form-control" value="{{shopcart.userId.last_name}}" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="username">用戶名稱</label>
                            <input id="username" type="text" name="username" class="form-control" value="{{shopcart.userId.username}}" disabled />
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="email">電郵</label>
                            <input id="email" type="email" name="email" class="form-control" value="{{shopcart.userId.email}}" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="phone">收件人名稱</label>
                            <input id="receipient" type="text" name="receipient" class="form-control" value="{{order.receipient}}"required />
                        </div>                        
                        <div class="col-md-6 mb-2">
                            <label for="phone">收件人聯絡電話</label>
                            <input id="receipient_phone" type="phone" name="receipient_phone" class="form-control" value="{{order.receipient_phone}}" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="address">郵寄地址</label>
                            <input id="shipping_address" type="text" name="shipping_address" class="form-control" value="{{order.receipient_address}}" required />
                        </div>
                    </div>

<br>
<br>
<br>
<br>
                    <div class="row">
                        <div class="col-md-3 mb-2"></div>
                        <button type="reset" class="btn btn-danger text-white fw-bold">    清空      </button>

                        <div class="col-md-4 mt-2"></div>
                        <input type="hidden" name="shopcart_id" value="{{ shopcart.id }}">
                        <input type="hidden" name="total_quantity" value="{{ total_quantity }}">   
                        <input type="hidden" name="total_amount" value="{{ total_amount }}">  
                        <button type="submit" class="btn btn-warning text-white fw-bold">    確認資料    </button>
                    </div>
                </form>
<br>
<br>


        快將完成...
        <div class ="progress">
            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 50%">50%</div>
        </div>

        </div>
  </div>
</section>
       
</div>
{% endblock %}    